.incident-info-container {
  height: 80vh;
  margin-left: 1vw;
  margin-top: 4vh;
}

.info {
  padding: 1vh;
}

.info-name {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
}

.info-instructions {
  text-align: center;
  background-color: #F4FDD9
}

.text-left {
  text-align:left;
  margin-left: .5em;
}

.map-btn {
  color: #FFE8C2;
  background-color: #6A8D73;
  padding-right: .25em;
  padding-left: .25em;
}

.info-weather {
  color: #FFE8C2;
  background-color: #6A8D73;
  padding-right: .25em;
  padding-left: .25em;
  width: 9.5em;
}

.info-type {
  width: 1.5em;
  margin-right: .4em;
  margin-top: .75vh;
  text-align: center;
}

.type {
  text-align: center;
}

.fire {
  width: 1em;
  margin-right: .4em;
  margin-top: .75vh;
}
.earthquake {
  width: 1.5em;
}
.tornado {
  width: 1.5em;
}

.hazard {
  width: 1.5em;
  margin-top: .5vh;
}
.hurricane {
  width: 1em;
}

.info-button-container {
  display: flex;
  justify-content: space-around;
}

.end-button {
  border: 1px solid red;
  background-color: #6A8D73;
  color: #FFE8C2;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
