.passport-container {
  display: flex;
  justify-content: center;
  margin: .5em;
}

.passport-doc {
  margin: 1em;
  font-size: 14px;
}

.categories-header {
  margin-top: 2em;
}

.passport-doc > p {
  margin: .5em;
}

.passport-doc > .categories-header {
  margin-top: 2.5em;
}