.app {
    position: relative;
    height: 96vh
}

.content-wrap {
    padding-bottom: 1rem;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgray;
}

.nav-link {
    margin: 30px;
}
