.resolved-container {
  max-height: 27vh;
  overflow-y: scroll;
}

 .element {
  width: 1.5em;
  margin-right: .4em;
  margin-top: .75vh;
  /* position: relative; */
}

.fire {
  width: 1em;
  margin-right: .4em;
  margin-top: .75vh;
  color: rgb(187, 43, 43);
}
.earthquake {
  margin-left: -.5em;
 margin-right: .5em;
}
.tornado {
  width: 1.5em;
  margin-left: -.5em;
  margin-right: .5em;
}

.hazard {
  width: 1.5em;
  margin-top: 1vh;
  margin-right: .25em;
}
.hurricane {
  width: 1em;
  margin-top: .25em;
  margin-right: .5em;
}

.flood {
  width: 1.5em;
  margin-top: 0;
  margin-right: .4em;
}