.resolved-container {
  max-height: 27vh;
  overflow-y: scroll;
}


/* .icon {
  margin-top: 1em;
}

.incident-title {
  position:relative;
  margin-bottom: 2em;

} */
 .element {
  width: 1.5em;
  margin-right: .4em;
  margin-top: .75vh;
  /* position: relative; */
}

.fire {
  width: 1em;
  margin-right: .4em;
  margin-top: .75vh;
}
.earthquake {
  margin-left: -.5em;
 margin-right: .5em;
}
.tornado {
  width: 1.5em;
  margin-left: -.5em;
  margin-right: .5em;
}

.hazard {
  width: 1.5em;
  margin-top: 1vh;
  margin-right: .25em;
}
.hurricane {
  width: 1em;
  margin-top: .25em;
  margin-right: .5em;
}

.flood {
  width: 1.5em;
  margin-top: 0;
  margin-right: .4em;
}