.resolved-container {
  max-height: 27vh;
  overflow-y: scroll;
}

/* .resolved-incident {
  height: 10vh;
  
} */
 .element {
  width: 1.5em;
  margin-right: .4em;
  margin-top: .75vh;
}

.fire {
  width: 1em;
  margin-right: .4em;
  margin-top: .75vh;
}
.earthquake {
  width: 1.5em;
}
.tornado {
  width: 1.5em;
}

.hazard {
  width: 1.5em;
  margin-top: .5vh;
}