form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

input,
textarea,
select {
  margin-bottom: 10px;
}

.incident-declare-button {
  color: red;
  border: 1px solid red;
  background-color: transparent;
}