.site-header {
  text-align: center;
  margin-top: 2vh;
  margin-left: 22vw;
  margin-bottom: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  
}

.logo {
  padding: 0;
  margin-top: 0vh;
  margin-left: -6vw;
  width: 125px;
  display: inline-block;
  position: absolute;
  /* border-radius: 12%;
  border: 3px solid #ddd;
  padding: 2px; */
}