.header {
  display: flex;
  justify-content: space-around;
  max-height: 11vh;
}

.app-name {
  font-size: 28px;
  text-align: center;
  margin-top: 3vh;
  margin-left: 1vw;
  margin-bottom: 0;
  padding: 0;
  display: inline-block;
  position: relative; 
  color: #23395B;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.btn-dash {
  height: .2em;
  width: 3em;
  background-color: #6A8D73;
  margin-top: 1.5em;
}

.logo {
  padding: 0;
  margin-top: 0vh;
  margin-left: -2vw;
  width: 125px;
  display: inline-block;
  position: absolute;
  /* border-radius: 12%;
  border: 3px solid #ddd;
  padding: 2px; */
}

.header-links {
  margin-top: 1vh;
  margin-left: 0;
  margin-right: 0;
}

.nav-link {
  margin: 17px;
  margin-left: 0;
  margin-right: 0;
}