.incidents-container {
  margin-left: 2vw;
}

.ongoing-container {
  max-height: 38.5vh;
  overflow-y: scroll;
}

.incident-container {
  contain: content;
  text-decoration: none;
}

.incident {
  border: 1px solid black;
  /* color: #f0a868; */
  color: #FFE8C2;
  background-color: #6A8D73;
  padding: 1vh;
  padding-top: 0;
  /* height: 4vh; */
}

h3 {
  margin: 1.5vh;
  margin-top: 0;
  font-size: 16px;
}

p {
  margin: 0;
  font-size: 12px;
}
.incident-text {
  font-size: 22px;
  margin-bottom: 1vh;
}


a {
  text-decoration: none;
  background-color: #6A8D73;
  color:#FFE8C2;
  padding-right: .25em;
  padding-left: .25em;
  margin-left: 5em;
}