.incident {
  border: 1px solid black;
  background-color: whitesmoke;
  margin-bottom: 5px;
  padding: 10px;
}

.incident-text {
  font-size: 22px;
}

.ongoing-container {
  max-height: 30vh;
  overflow-y: scroll;
}