
.ongoing-container {
  max-height: 38.5vh;
  overflow-y: scroll;
}

.incident-container {
  contain: content;
  text-decoration: none;
  
	
}


.incident {
  border: 1px solid black;
  color: #FFE8C2;
  background-color: #6A8D73;
  padding: 1vh;
  padding-top: 0;
  margin: 1.5% 0%;
  
  width: [object Object]px; 
	height: [object Object]px; 
	border: solid #C93E36 0; 
	box-shadow: -13px 10px 12px rgba(59, 84, 30, 0.5) inset; 
	-webkit-box-shadow: -13px 10px 12px rgba(59, 84, 30, 0.5) inset; 
	-moz-box-shadow: -13px 10px 12px rgba(59, 84, 30, 0.5) inset; 
	/* border: solid #C93E36 0; 
	box-shadow: -8px 4px 16px rgba(207, 155, 50, 0.4)  ; 
	-webkit-box-shadow: -8px 4px 16px rgba(207, 155, 50, 0.4)  ; 
	-moz-box-shadow: -8px 4px 16px rgba(207, 155, 50, 0.4)  ;  */
}

h3 {
  margin: 1.5vh;
  margin-top: 0;
  font-size: 16px;
}

p {
  margin: 0;
  font-size: 12px;
}
.incident-text {
  font-size: 22px;
  margin-bottom: 1vh;
}


a {
  text-decoration: none;
  background-color: #6A8D73;
  color:#FFE8C2;
}