.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-link {
  background-color: #57745e;
  padding: .2%;
}

.footer-link:hover {
  transform: scale(1.1);
}