form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 2vw;
  margin-right: 2vw;
}

input,
textarea,
select {
  margin-bottom: 10px;
}

.declare-submission {
  color: #FFE8C2;
  border: 1px solid red;
  background-color: #6A8D73;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.declare-submission:hover {
  background-color: #FFE8C2;
  color: #6A8D73;
  /* background-color: #6A8D73; */
  border: 3px solid red;
}

.success > span {
  /* background-color: #FFE8C2; */
  color: #6A8D73;
  font-size: 14px;
}
.checkmark {
  width: 2.5vw;
  margin-right: .5em;
}